/* custom CSS */


body{
    font-family: 'Roboto', sans-serif;
    color: #0f424e;
    
}


#letter-v{
    color: #16a34a;
}

#letter-t{
    color: #fb923c;
}

.menu-section{
    background-color: #ffffff;
    
}

.menu-button{
    background-color: #0f424e;
    color: #ffffff;
}

.nav-section{
    background-color: #0f424e;
    color: #ffffff;
}


.form-section{
    background-color: #e0fff4;
    height: 95vh;
}

.submit-button{
    background-color: #0f424e;
    color: #ffffff;
}

.footer{
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f424e;
    color: #ffffff;
}


/* form display */

#register-form{
    display: none;
}

#signIn-form{
    display: none;
}

#signUp-form{
    display: none;
}